{% if NGINX_EDXAPP_ENABLE_MAINTENANCE %}

location @maintenance {

   set $maintenance_file open;
   if (-f /edx/var/maintenance/maintenance.file){
       set $maintenance_file close;
   }

   if ($action = $maintenance_file){
       return 503;
    }
}

  error_page 503 /maintenance.html;

  location = /maintenance.html {
      root /edx/var/maintenance/;
  }

  location ~ /maintenance_files/(?P<file>.*) {
      root /edx/var/maintenance/;
  }

{% endif %}
